[submodule "lib/pico-extras"]
	path = lib/pico-extras
	url = https://github.com/DatanoiseTV/pico-extras.git
[submodule "lib/vult"]
	path = lib/vult
	url = https://github.com/vult-dsp/vult.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/DatanoiseTV/pico-sdk
