[submodule "lib/vult"]
	path = lib/vult
	url = https://github.com/vult-dsp/vult.git
[submodule "lib/pico-extras"]
	path = lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
	branch = master
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = main
[submodule "lib/pico-pio-usb"]
	path = lib/pico-pio-usb
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "lib/u8g2"]
	path = lib/u8g2
	url = https://github.com/olikraus/u8g2.git
